<section class="login">
    <div class="container">
        <div class="logo">
            <img src="/images/logo.png" alt="Logo">
        </div>
        <div class="login__form">
            <h1 class="title-color">Вход</h1>
            <div class="input-group">
                <img src="/images/email.png" alt="email" class="input-group-img">
                <input type="text" class="form-control form-input" placeholder="Электронная почта" id="email">
            </div>
            <div class="input-group">
                <img src="/images/password.png" alt="email" class="input-group-img">
                <input type="password" class="form-control form-input" placeholder="Пароль" id="password">
            </div>
            <div class="input-group-checkbox">
                <input class="form-check-input mx-2 mt-0" type="checkbox" id="rememberMe" required>
                <span>Запомнить меня</span>
            </div>
            <div class="btn-group d-grid gap-2">
                <button class="btn btn-primary" type="button" id="process" disabled>Войти</button>
            </div>
            <div class="link-group">Ещё нет аккаунта?<a href="/#/signup">Пройдите регистрацию</a></div>
        </div>
    </div>
</section>