<section class="signup">
    <div class="container">
        <div class="logo">
            <img src="/images/logo.png" alt="Logo">
        </div>
        <div class="login__form">
            <h1 class="title-color">Создайте аккаунт</h1>
            <div class="input-group">
                <img src="/images/person.png" alt="email" class="input-group-img">
                <input type="text" class="form-control form-input" placeholder="ФИО" id="fullName">
            </div>
            <div class="input-group">
                <img src="/images/email.png" alt="email" class="input-group-img">
                <input type="text" class="form-control form-input" placeholder="Электронная почта" id="email">
            </div>
            <div class="input-group">
                <img src="/images/password.png" alt="email" class="input-group-img">
                <input type="password" class="form-control form-input" placeholder="Пароль" id="password">
            </div>
            <div class="input-group">
                <img src="/images/password.png" alt="email" class="input-group-img">
                <input type="password" class="form-control form-input" placeholder="Подтверждение пароля" id="passwordRepeat">
            </div>
            <div class=" btn-group d-grid gap-2">
                <button class="btn btn-primary" type="button" id="process" disabled>Войти</button>
            </div>
            <div class="link-group">Ещё есть аккаунт?<a href="/#/login">Войдите в систему</a></div>
        </div>
    </div>
</section>